
.idea/
gds_tutorials/tutorial3_localdev/dsccgen-tutorial/node_modules/*
gds_tutorials/tutorial3_localdev/dsccgen-tutorial/build/*
gds_tutorials/tutorial3_localdev/dsccgen-tutorial/dist/*
gds_tutorials/tutorial3_localdev/dsccgen-tutorial/webpack.config.js
gds_vizs/bubble_chart/node_modules/*
gds_vizs/bubble_chart/build/*
gds_vizs/bubble_chart/dist/*
gds_vizs/bubble_chart/webpack.config.js
