body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

code {
  background-color: #fdf6e3;
  color: #586e75;
}

.bubbles {
  stroke-width: 0.1px;
  stroke: white;
  opacity:
}
.bubbles:hover {
  stroke: black;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 0px;
}